  /* CSS für den body und die Karte */

  body {
    background-color: #b60057;

    position: relative; /* Inhalt des Main Content Abschnitts "hängt zusammen" */
    padding-top: 0px; 
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px; /* Breite des Randes direkt um den Content, innerh. Border */

    margin-top: 40px; 
    margin-right: 100px;
    margin-left:100px; 
    margin-bottom:100px; /* Breite des Randes um den Content, außerh. Border */

    font-family: sans-serif; /* Für die Website gewünschte Schriftart(en) werden festgelegt: Je nach Verfügbarkeit werden diese nach 
    der Auflistungsreihenfolge verwendet (wenn es die Erste nicht gibt, wird die Zweite genommen usw.) */

    h1 {color: white}
    h2 {color: white}
  }

  #map { /* Kartengestaltung */
    width: 100%; /* Karte füllt gesamte Breite der Content-Box */
    height: 550px;
    border: 3px solid white;
    border-radius: 15px; /* abgerundete Ecken */
    overflow: hidden; /* wichtig, um Inhalte innerhalb des abgerundeten Rahmens zu beschneiden */
}



